<div class="d-flex mt-3 justify-content-center">
  <h1>My Dashboard</h1>
</div>

    <div class="flex-container1">
      <div class="posted-jobs">My Posted Jobs</div>
      <div class="my-offers">My Offers</div>
      <div class="received-offers">Received Offers</div>
    </div>

<div class="container d-flex justify-content-between m-auto">
    <div class=" mt-2">
      <% current_user.jobs.each do |job| %>
      <ul class="list-group">
        <li class="list-group-item list-group-secondary-info">
          <%= job.name %>
          <%= link_to "Edit job", edit_job_path(job) %>
        </li>
      </ul>
      <% end %>
    </div>

    <div class=" mt-2">
      <% if current_user.offers.empty? %>
        <p><%= "No Offers made" %></p>
      <% else %>
        <% current_user.offers.each do |offer| %>
          <%= offer.comment %>
        <% end %>
      <% end %>
    </div>

    <div class=" mt-2">
      <% my_offers = [] %>
        <% current_user.jobs.each do |job| %>
          <% unless job.offers.nil? %>
            <% job.offers.each do |offer| %>
              <% my_offers << offer %>
            <% end %>
          <% end %>
        <% end %>
        <% if my_offers.empty? %>
          <p><%= "No Offers received" %></p>
        <% else %>
          <% my_offers.each do |offer| %>
            <p><%= offer.comment %></p>
          <% end %>
        <% end %>
    </div>
</div>
