
<div class="container mt-3 d-flex justify-content-between">
  <%= form_with url: jobs_path, method: :get, class: "d-flex", id:"search-form" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a job"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
</div>
<div class="container mt-3 row m-auto" id="main-container">
  <div class="jobs-container col-6" id="jobs-container">
    <% @jobs.each do |job| %>
      <div class="m-3 col-3 job-card" id="">
        <div class="card-title d-flex justify-content-between">
          <h5 class="card-job-title"><%= job.name %></h5>
          <h5 class="card-budget ps-0"><%= job.price %>€</h5>
        </div>
        <div class="card-info d-flex justify-content-between m-0">
          <div class="card-info-details p-0">
            <p class="m-0">Location:<%= job.address.nil? ? " unspecified": job.address %></p>
            <p class="m-0">Deadline: <%= job.deadline.day %>/<%= job.deadline.month %>/<%= job.deadline.year %></p>
          </div>
          <div class="d-flex justify-content-center align-items-center">
            <div class="user-avatar"></div>
          </div>
        </div>
        <div class="card-links d-flex justify-content-between" >
          <button class="p-0 location-change btn btn-primary btn-change-map rounded-5"
              data-lat = <%= job.latitude %>
              data-lng = <%= job.longitude %>
              style="cursor: pointer;">
            <p class="m-0 ps-2 pe-2">See on map</p>
          </button>
          <%= link_to job_path(job), class: "text-decoration-none btn btn-primary btn-see-job rounded-5 p-0" do %>
            <p class="m-0 ps-2 pe-2">See job</p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="map-container col-5">
    <div id="map"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>
