<div class="container show-main-controller">
  <div class="show-details-main-container">
    <div class="show-title-container row">
      <div class="show-title col-7">
        <div class="main title">
          <h1><%= @job.name %></h1>
        </div>
        <div class="main-details">
          <p><span>Posted by: </span><span class="light-blue-font"><%= @job.user.name %></span></p>
          <p><span>Deadline:</span> <span class="light-blue-font"><%= @job.deadline.day %>/<%= @job.deadline.month %>/<%= @job.deadline.year %></span></p>
        </div>
      </div>
      <div class="col-5" id="budget-btn-container">
        <div class="show-budget d-flex align-items-center justify-content-center mb-3 rounded light-blue-border">
          <h3>Budget:<%= @job.price %>€</h3>
          <h3 style="color: #008FB4"></h3>
        </div>
        <div class="justify-content-center align-items-center show-btns-container">
            <% if @job.user == current_user %>
            <%= link_to "Edit Job", edit_job_path(@job), class: "btn btn-edit-job" %>
            <% end %>
        </div>
      </div>
    </div>
    <div class="show-details-container">
      <h4>Details:</h4>
      <div class="show-details-description p-2 rounded light-blue-border">
        <p><%= @job.description %></p>
      </div>
    </div>
    <div class="show-location-container">
      <h4>Location:</h4>
      <div id="show-map" style="height: 90%; width: 100%"
            data-controller="show-map"
            data-lat="<%= @job.latitude %>"
            data-lng="<%= @job.longitude %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
  <div class="show-offers-container p-3 rounded" overflow-y="scroll">
    <% unless @job.user == current_user %>
      <%= render 'offers/form-offer' %>
    <% end %>
    <h4 id="offers-title">Offers:</h4>
    <div class="show-offers p-3" id="offers-container">
      <% if Job.find(@job.id).offers.pluck(:status).include?(true) %>
        <% @job.offers.each do |offer| %>
          <div class="show-offer card p-3 m-3 rounded light-blue-border">
            <div class="show-offer-title">
              <h5><%= offer.user.name %></h5>
            </div>
            <div class="show-offer-details">
              <p><%= offer.comment %></p>
            </div>
            <div class="show-offer-price">
              <p><%= offer.bid %>€</p>
            </div>
              <% if offer.status == true %>
              <div class="show-offer-accepted">
                <p>Accepted</p>
              </div>
              <% else %>
              <div class="show-offer-denied">
                <p>Not accepted</p>
              </div>
              <% end %>
          </div>
        <% end %>
      <% else %>
        <% @job.offers.each do |offer| %>
          <div class="show-offer card p-3 m-3 rounded light-blue-border">
            <div class="show-offer-title">
              <h5 ><%= offer.user.name %></h5>
            </div>
            <div class="show-offer-details">
              <p><%= offer.comment %></p>
            </div>
            <div class="show-offer-price">
              <p><%= offer.bid %>€</p>
            </div>
            <% if @job.user == current_user %>
              <%= link_to "Accept", offer_path(offer), class: "btn btn-success rounded" %>
              <% if offer.status == true %>
                <p><%= "Offer accepted" %></p>
              <% end %>
              <%= link_to "Deny", offer_path(offer), class: "btn btn-warning rounded" %>
            <% end %>
          </div>
        <% end %>
      <% end %>
  </div>
</div>
